@use "sass:map";
@use "./globals" as *;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 2rem 8rem 4rem 8rem;
  font-family: $font-family;
  font-size: map.get($font-sizes, body);
  background: $sand-ivory;
  color: $ebony-bark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  @include card;
}
